#main .header {
  transform-style: preserve-3d;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 130px;
}
#main .header .head {
  width: 100%;
  height: 40px;
  background: #f1f1f1;
  transition: transform 1s;
}
#main .header .head.on {
  animation: on 1s;
}
#main .header .head .content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#main .header .head .content .left {
  float: left;
  width: 175px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .header .head .content .left span:nth-child(2) {
  color: #000;
  font-weight: bold;
}
#main .header .head .content .left img {
  display: inline-block;
  vertical-align: middle;
}
#main .header .head .content .nav {
  display: flex;
  float: right;
  height: 100%;
}
#main .header .head .content .nav ul {
  height: 100%;
  display: flex;
}
#main .header .head .content .nav ul li {
  float: left;
  height: 100%;
  padding: 0 15px;
}
#main .header .head .content .nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;
  width: 100%;
  height: 100%;
}
#main .header .head .content .nav ul li a.active {
  color: #f00;
}
#main .header .head .nav-search {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#main .header .head .nav-search div {
  float: left;
}
#main .header .head .nav-search .logo {
  width: 280px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .header .head .search {
  width: 600px;
  height: 38px;
  margin-left: 100px;
  border: 2px solid #f00;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}
#main .header .head .search .iconfont {
  color: #999;
  position: absolute;
  left: 23px;
  top: 12px;
  font-weight: bold;
}
#main .header .head .search input {
  width: 70%;
  height: 30px;
  outline: none;
  margin-left: 60px;
  padding: 0 30px 0 0;
  font-size: 15px;
}
#main .header .head .search button {
  width: 20%;
  height: 100%;
  background: #f00;
  outline: none;
  border: 1px solid #f00;
  color: #fff;
  font-weight: bold;
}
#main .header .head .code {
  width: 90px;
  height: 100%;
  position: relative;
  left: 125px;
  top: 0px;
  text-align: center;
}
#main .header .head .code .toggle {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  left: 35px;
  top: -15px;
}
#main .header .head .code img {
  width: 100%;
}
#main .carousel {
  width: 100%;
  height: 300px;
  margin-top: 130px;
}
#main .carousel .content {
  height: 300px;
  position: relative;
}
#main .carousel .content .list {
  width: 180px;
  height: 302px;
  background: #808080;
  position: absolute;
  left: 100px;
  top: 0px;
  z-index: 5;
}
#main .carousel .content .list .left {
  width: 100%;
}
#main .carousel .content .list .left ul li {
  height: 30px;
}
#main .carousel .content .list .left ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
}
#main .carousel .content .list .left ul li a .icon.active {
  width: 0px;
  height: 0px;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #f00;
  border-left: 8px solid transparent;
  border-top: 8px solid transparent;
  position: absolute;
  right: 0px;
  color: #fff;
}
#main .carousel .content .list .left ul li a .iconfont {
  position: absolute;
  left: 140px;
}
#main .carousel .content .list .right {
  position: absolute;
  left: 180px;
  top: 0px;
  display: none;
}
#main .carousel .content .list .right ul li {
  height: 30px;
  width: 150px;
  text-align: center;
  line-height: 30px;
}
#main .carousel .content .loop {
  height: 300px;
  display: flex;
}
#main .carousel .content .loop ul {
  height: 300px;
  display: flex;
}
#main .carousel .content .loop ul li {
  width: 100%;
  height: 100%;
}
#main .carousel .content .loop ul li img {
  height: 100%;
}
#main .every {
  width: 100%;
  height: auto;
}
#main .every .clean {
  width: 1200px;
  height: 634px;
  margin: 0 auto;
  padding: 50px 0 0;
  clear: both;
}
#main .every .clean .wrap p {
  color: #3d3838;
  font-weight: 800;
  font-size: 28px;
  font-family: "Microsoft YaHei";
  text-align: center;
}
#main .every .clean .wrap .title {
  margin-top: 15px;
  position: relative;
}
#main .every .clean .wrap .title ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .every .clean .wrap .title ul li {
  padding: 0 5px;
  font-size: 22px;
  color: #000;
}
#main .every .clean .wrap .title .more {
  position: absolute;
  right: 0px;
  top: 0px;
}
#main .every .clean .wrap .info {
  height: 345px;
  margin-top: 20px;
}
#main .every .clean .wrap .info a .classinfo {
  float: left;
  padding: 10px;
  width: 205px;
  border: 1px solid #eaeaea;
  margin: 0 5px;
  background: #fff;
  cursor: pointer;
  height: 345px;
}
#main .every .clean .wrap .info a .classinfo img {
  width: 210px;
  height: 210px;
  margin-left: -3px;
}
#main .every .clean .wrap .info a .classinfo h2 {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 800;
  color: #000;
  height: 28px;
  overflow: hidden;
  width: 101%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main .every .clean .wrap .info a .classinfo .scription {
  color: #929292;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 13px;
  line-height: 18px;
  height: 58px;
}
#main .every .clean .wrap .info a .classinfo .price span {
  font-size: 14px;
  padding: 5px 5px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  color: #fb474f;
}
#main .every .clean .wrap .info a .classinfo .price span:nth-child(1) {
  font-size: 20px;
}
#main .every .clean .wrap .info a .classinfo .price span:nth-child(3) {
  float: right;
  padding: 0;
  width: 76px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  background: #fb474f;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
#main .baozhang {
  width: 100%;
}
#main .baozhang .container {
  width: 1200px;
  background: #ffc0cb;
  margin: 0 auto;
}
#main .baozhang .container h2 {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
  text-align: center;
}
#main .baozhang .container h2 span {
  color: #fb474f;
  font-weight: bold;
}
#main .baozhang .container p {
  font-size: 22px;
  color: #3d3838;
  margin: 0;
  text-align: center;
  padding: 10px 0px;
}
#main .baozhang .container .xuanze {
  width: 100%;
  padding-top: 20px;
  background: #fff;
  height: 66px;
  font-family: "微软雅黑";
}
#main .baozhang .container .xuanze ul {
  display: flex;
  justify-content: center;
}
#main .baozhang .container .xuanze ul li {
  width: 12%;
  text-align: center;
  color: #1d1515;
  font-size: 18px;
}
#main .baozhang .container .xuanze ul li img {
  display: inline-block;
  vertical-align: middle;
}
#main .citys {
  width: 100%;
  clear: both;
  padding-top: 50px;
  height: 170px;
  background: #fff;
}
#main .citys dl {
  width: 1200px;
  margin: 0 auto;
}
#main .citys dl dt {
  float: left;
  font-family: " 微软雅黑";
  font-size: 18px;
}
#main .citys dl dd {
  margin-left: 30px;
  width: 1090px;
  line-height: 30px;
  float: left;
}
#main .citys dl dd a {
  font-size: 16px;
  color: #898989;
  display: inline-block;
  width: 9%;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
  font-family: "微软雅黑";
}
#main .beian {
  width: 100%;
  background: #808080;
}
#main .beian .content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
#main .beian .content p {
  position: relative;
  bottom: 20px;
  text-align: left;
  font-weight: bold;
  width: 1200px;
  margin: 0 auto;
  background: none;
  color: #1d1515;
  font-size: 18px;
}
#main .beian .content .hezuo {
  overflow: hidden;
}
#main .beian .content .hezuo li {
  float: left;
  width: 10%;
  height: 60px;
  text-align: center;
  background: #fff;
  margin-left: 1%;
  line-height: 55px;
  cursor: pointer;
}
#main .beian .content .hezuo li img {
  vertical-align: middle;
  width: 100px;
}
#main .footer {
  height: 40px;
  line-height: 40px;
  padding-top: 0;
}
#main .footer p {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
@-moz-keyframes on {
  from {
    transform: translateY(-130px) rotateX(-90deg);
  }
  to {
    transform: translateY(0px) rotateX(0deg);
  }
}
@-webkit-keyframes on {
  from {
    transform: translateY(-130px) rotateX(-90deg);
  }
  to {
    transform: translateY(0px) rotateX(0deg);
  }
}
@-o-keyframes on {
  from {
    transform: translateY(-130px) rotateX(-90deg);
  }
  to {
    transform: translateY(0px) rotateX(0deg);
  }
}
@keyframes on {
  from {
    transform: translateY(-130px) rotateX(-90deg);
  }
  to {
    transform: translateY(0px) rotateX(0deg);
  }
}
